<!DOCTYPE html>
<html layout:decorate = "~{layouts/layout1}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta name = "_csrf" th:content = "${_csrf.token}"/>
    <meta name = "_csrf_header" th:content = "${_csrf.headerName}"/>

    <!-- 사용자 스크립트 추가 -->
    <script>
        function cancelOrder (orderId) {
            var token = $ ("meta[name='_csrf']").attr ("content");
            var header = $ ("meta[name='_csrf_header']").attr ("content");

            var url = "/order/" + orderId + "/cancel";
            var paramData = {
                orderId: orderId,
            };

            var param = JSON.stringify (paramData);

            $.ajax ({
                url        : url,
                type       : "POST",
                contentType: "application/json",
                data       : param,
                beforeSend : function (xhr) {
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader (header, token);
                },
                dataType   : "json",
                cache      : false,
                success    : function (result, status) {
                    alert ("주문이 취소 되었습니다.");
                    location.href = '/orders/' + [[${page}]];
                },
                error      : function (jqXHR, status, error) {
                    if (jqXHR.status == '401') {
                        alert ('로그인 후 이용해주세요');
                        location.href = '/members/login';
                    } else {
                        alert (jqXHR.responseText);
                    }
                }
            });
        }
    </script>

    <!-- 사용자 CSS 추가 -->
    <style>
        .content-mg {
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 2%;
            margin-bottom: 100px;
        }

        .repImgDiv {
            margin-right: 15px;
            margin-left: 15px;
            height: auto;
        }

        .repImg {
            height: 100px;
            width: 100px;
        }

        .card {
            width: 750px;
            height: 100%;
            padding: 30px;
            margin-bottom: 20px;
        }

        .fs18 {
            font-size: 18px
        }

        .fs24 {
            font-size: 24px
        }
    </style>
</head>

<body>
<div class = "content-mg" layout:fragment = "content">
    <h2 class = "mb-4">구매 이력</h2>

    <div th:each = "order : ${orders.getContent()}">
        <div class = "d-flex mb-3 align-self-center">
            <h4 th:text = "${order.orderDate} + ' 주문'"></h4>
            <div class = "ml-3">
                <th:block th:if = "${order.orderStatus == T(com.forcat.forcat.entity.OrderStatus).ORDER}">
                    <button class = "btn btn-outline-secondary" onclick = "cancelOrder(this.value)" th:value = "${order.orderId}" type = "button">주문취소</button>
                </th:block>
                <th:block th:unless = "${order.orderStatus == T(com.forcat.forcat.entity.OrderStatus).ORDER}">
                    <h4>(취소 완료)</h4>
                </th:block>
            </div>
        </div>
        <div class = "card d-flex">
            <div class = "d-flex mb-3" th:each = "orderItem : ${order.orderItemDtoList}">
                <div class = "repImgDiv">
                    <img class = "rounded repImg" th:alt = "${orderItem.itemNm}" th:src = "${orderItem.imgUrl}">
                </div>
                <div class = "align-self-center w-75">
                    <span class = "fs24 font-weight-bold" th:text = "${orderItem.itemNm}"></span>
                    <div class = "fs18 font-weight-light">
                        <span th:text = "${orderItem.orderPrice} +'원'"></span>
                        <span th:text = "${orderItem.count} +'개'"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:with = "start=${(orders.number/maxPage)*maxPage + 1}, end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})">
        <ul class = "pagination justify-content-center">

            <li class = "page-item" th:classappend = "${orders.number eq 0}?'disabled':''">
                <a aria-label = 'Previous' class = "page-link" th:href = "@{'/orders/' + ${orders.number-1}}">
                    <span aria-hidden = 'true'>Previous</span>
                </a>
            </li>

            <li class = "page-item" th:classappend = "${orders.number eq page-1}?'active':''" th:each = "page: ${#numbers.sequence(start, end)}">
                <a class = "page-link" th:href = "@{'/orders/' + ${page-1}}" th:inline = "text">[[${page}]]</a>
            </li>

            <li class = "page-item" th:classappend = "${orders.number+1 ge orders.totalPages}?'disabled':''">
                <a aria-label = 'Next' class = "page-link" th:href = "@{'/orders/' + ${orders.number+1}}">
                    <span aria-hidden = 'true'>Next</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>