<!DOCTYPE html>
<html layout:decorate = "~{layouts/layout1}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset = "UTF-8">
    <title>포캣 게시판</title>
    <meta name = "_csrf" th:content = "${_csrf.token}"/>
    <meta name = "_csrf_header" th:content = "${_csrf.headerName}"/>
</head>

<body class = "align-middle" layout:fragment = "content">
<div class = "row mt-3">
    <div class = "col">
        <div class = "card">
            <div class = "card-header">
                Board Register
            </div>
            <div class = "card-body">
                <form action = "/board/register" method = "post">
                    <input th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}" type = "hidden">
                    <div class = "input-group mb-3">
                        <span class = "input-group-text">제목</span>
                        <input class = "form-control" name = "title" placeholder = "Title" type = "text">
                    </div>

                    <div class = "input-group mb-3">
                        <span class = "input-group-text">내용</span>
                        <textarea class = "form-control col-sm-5" name = "content" rows = "5"></textarea>
                    </div>

                    <div class = "input-group mb-3" hidden = "hidden" th:unless = "${#authorization.expression('isAuthenticated()')}">
                        <span class = "input-group-text">작성자</span>
                        <input class = "form-control" name = "writer" type = "text" value = "손님">
                    </div>
                    <div class = "input-group mb-3" hidden = "hidden" th:if = "${#authorization.expression('isAuthenticated()')}">
                        <span class = "input-group-text">작성자</span>
                        <input class = "form-control" name = "writer" readonly th:value = "${#authentication.principal.username}" type = "text">
                    </div>

                    <!--이미지 첨부파일 등록-->
                    <div class = "input-group mb-3">
                        <span class = "input-group-text">이미지</span>
                        <div class = "float-end uploadHidden">
                            <button class = "btn btn-primary uploadFileBtn" type = "button">사진 업로드</button>
                        </div>
                    </div>
                    <!--/이미지 첨부파일 등록-->

                    <div class = "my-4">
                        <div class = "float-end">
                            <button class = "btn btn-primary submitBtn" type = "submit">작성완료</button>
                            <button class = "btn btn-secondary" type = "reset">다시쓰기</button>
                        </div>
                    </div>

                </form>
            </div><!--end card body-->
        </div><!--end card-->
    </div><!-- end col-->
</div><!-- end row-->

      <!—- 첨부 파일 섬네일을 보여줄 부분 -->
<div class = "row mt-3">
    <div class = "col ">
        <div class = "container-fluid d-flex uploadResult" style = "flex-wrap: wrap;">
        </div>
    </div>
</div>

      <!—- 첨부파일 추가를 위한 모달창 -->
<div class = "modal uploadModal" tabindex = "-1">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title">Upload File</h5>
                <button aria-label = "Close" class = "btn-close" data-bs-dismiss = "modal" type = "button"></button>
            </div>
            <div class = "modal-body">
                <div class = "input-group mb-3">
                    <input class = "form-control" multiple name = "files" type = "file">
                </div>
            </div>
            <div class = "modal-footer">
                <button class = "btn btn-primary uploadBtn" type = "button">업로드</button>
                <button class = "btn btn-outline-dark closeUploadBtn" type = "button">취소</button>
            </div>
        </div>
    </div>
    <script src = "https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src = "/js/board/upload.js"></script>
</div><!--첨부 파일 등록 모달창-->
<script>
    const buttonElement = document.querySelector(".uploadBtn");

    if (buttonElement) {
        buttonElement.addEventListener("click", function(e) {
            // 이벤트 핸들러 내에서 버튼 요소가 존재할 때만 실행할 코드 작성
            // 예: value 속성에 접근
            const value = buttonElement.value;
        }, false);
    }
    //업로드 모달창
    const uploadModal = new bootstrap.Modal (document.querySelector (".uploadModal"))

    document.querySelector (".uploadFileBtn").addEventListener ("click", function (e) {

        e.stopPropagation ()
        e.preventDefault ()
        uploadModal.show ()

    }, false)

    /*모달창 파일 업로드, 섬네일 출력*/
    document.querySelector(".uploadBtn").addEventListener("click", function(e) {

        const formObj = new FormData();

        // CSRF 토큰을 가져와 FormData에 추가
        const csrfHeader = document.querySelector('input[name="_csrf.headerName"]').value;
        const csrfToken = document.querySelector('input[name="_csrf.token"]').value;
        formObj.append(csrfHeader, csrfToken);

        const fileInput = document.querySelector("input[name='files']");
        const files = fileInput.files;

        for (let i = 0; i < files.length; i++) {
            formObj.append("files", files[i]);
        }

        uploadToServer(formObj).then(result => {
            console.log(result)
            //console.log(result)
            for (const uploadResult of result) {
                showUploadFile(uploadResult)
            }
            uploadModal.hide()
        }).catch(e => {
            uploadModal.hide()
        })

    },false)

        // Add an event listener to hide the modal when the cancel button is clicked
        cancelUploadBtn.addEventListener ("click", function (e) {
            e.stopPropagation ();
            e.preventDefault ();
            uploadModal.hide (); // Hide the modal
        }, false);


    /*모달창 취소 버튼*/
    const cancelUploadBtn = document.getElementById ("cancelUploadBtn");

    const uploadResult = document.querySelector (".uploadResult")

    function showUploadFile ({uuid, fileName, link}) {

        const str = `<div class="card col-4">
            <div class="card-header d-flex justify-content-center">
                ${fileName}
                <button class="btn-sm btn-danger" onclick="removeFile('${uuid}', '${fileName}', this)" >X</button>
            </div>
            <div class="card-body">
                 <img src="/view/${link}" data-src="${uuid + "_" + fileName}" >
            </div>
        </div><!-- card -->`

        uploadResult.innerHTML += str
    }

    /*첨부파일 삭제*/
    function removeFile (uuid, fileName, obj) {

        console.log (uuid)
        console.log (fileName)
        console.log (obj)

        const targetDiv = obj.closest (".card")

        removeFileToServer (uuid, fileName).then (data => {
            targetDiv.remove ()
        })
    }

    /*From 태그 submit 동작 시 같이 submit 처리*/
    document.querySelector (".submitBtn").addEventListener ("click", function (e) {

        e.preventDefault ()
        e.stopPropagation ()

        const target = document.querySelector (".uploadHidden")

        const uploadFiles = uploadResult.querySelectorAll ("img")

        let str = ''

        for (let i = 0; i < uploadFiles.length; i++) {
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute ("data-src")

            str += `<input type='hidden' name='fileNames' value="${imgLink}">`
        }

        target.innerHTML = str;

        const formObj = document.querySelector ("form");

        formObj.submit ();
        formObj.reset ();

    }, false)

    //업로드 모달창 취소 버튼 이벤트
    const closeUploadBtn = document.querySelector ('.closeUploadBtn');
    //닫기 버튼에 클릭 이벤트 리스너 추가
    closeUploadBtn.addEventListener ('click', function (e) {
        uploadModal.hide (); //업로드 모달 숨기기
    }, false);
</script>
</body>
</html>