<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="align-middle" layout:fragment="content">
<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Board Register
            </div>
            <div class="card-body">
            </div><!--end card body-->
        </div><!--end card-->
    </div><!-- end col-->
</div><!-- end row-->
<script layout:fragment="script" th:inline="javascript">
</script>
</body>
</html>