<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Login</title>
    <!-- Favicon-->

    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body class="align-middle" layout:fragment="content">
<div class="container-fluid d-flex justify-content-center" style="height: 100vh">

    <div class="cont">
        <form id="registerForm" action="/member/login" method="post" th:if="${param.logout ==null}">
        <div class="form sign-in">
            <h2>Welcome back,</h2>
            <label>
                <span>아이디</span>
                <input type="text" name="username" class="form-control" placeholder="아이디를 입력해주세요">
            </label>
            <label>
                <span>비밀번호</span>
                <input type="text" name="password" class="form-control" placeholder="비밀번호를 입력해주세요">
            </label>
            <div class="input-group mb-3 ">
                <input class="form-check-input" type="checkbox" name="remember-me">
                <label class="form-check-label">
                    자동 로그인
                </label>
            </div>
            <p class="forgot-pass">Forgot password?</p>
            <button type="submit" class="submit" id="login">LOGIN</button>
            <button type="button" class="fb-btn" href="/oauth2/authorization/kakao">Join with <a class="kakao" href="/oauth2/authorization/kakao">KAKAO</a></button>
            <button type="button" class="fb-btn" href="/oauth2/authorization/google">Join with <a class="google" href="/oauth2/authorization/google">GOOGLE</a></button>
        </div>
        </form>
        <form id="joinForm" action="/member/join" method="post">
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2 class="h2FontWhite">포켓이 처음이신가요?</h2>
                    <p>지금 가입하고 더 많은 활동을 해보세요!</p>
                </div>
                <div class="img__text m--in">
                    <h2 class="h2FontWhite">이미 가입하셨나요?</h2>
                    <p>로그인하고 포켓에서 더 많은 활동을 해보세요!</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">회원가입</span>
                    <span class="m--in">로그인</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Time to feel like home,</h2>
                <label>
                    <span>아이디</span>
                    <input type="text" name="mid" class="form-control" placeholder="아이디를 입력하세요.">
                </label>
                <label>
                    <span>비밀번호</span>
                    <input type="password" name="mpw" class="form-control" placeholder="비밀번호를 입력하세요.">
                </label>
                <label>
                    <span>이메일</span>
                    <input type="email" name="email" class="form-control" placeholder="이메일을 입력하세요.">
                </label>
                <label>
                    <span>이름</span>
                    <input type="text" name="name" class="form-control" placeholder="이름을 입력하세요.">
                </label>
                <label>
                    <span>주소</span>
                    <input type="text" name="address" class="form-control" placeholder="주소를 입력하세요.">
                </label>
                <button type="button" class="submit" id="join">Sign Up</button>
                <button type="button" class="fb-btn" href="/oauth2/authorization/kakao">Join with <a class="kakao" href="/oauth2/authorization/kakao">KAKAO</a></button>
                <button type="button" class="fb-btn" href="/oauth2/authorization/google">Join with <a class="google" href="/oauth2/authorization/google">GOOGLE</a></button>
            </div>
        </div>
        </form>
    </div>
</div>

<script>
    document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
    });

    document.querySelector('#join').addEventListener('click', function() {
        // "Sign Up" 버튼이 클릭되었을 때 폼을 서버로 제출
        document.getElementById('joinForm').submit();
    });
</script>
</body>
</html>
