<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layouts/layout1}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th = "http://www.thymeleaf.org">

<head>
    <title>고양이 커뮤니티 포캣 - 콘텐츠</title>
</head>

<body layout:fragment = "content">
<section class = "hero-wrap hero-wrap-2" data-stellar-background-ratio = "0.5"
         style = "background-image: url('../static/images/bg_2.jpg');">
    <div class = "overlay"></div>
    <div class = "container">
        <div class = "row no-gutters slider-text align-items-end">
            <div class = "col-md-9 ftco-animate pb-5">
                <p class = "breadcrumbs mb-2"><span class = "mr-2"><a href = "/index">Home <i
                        class = "ion-ios-arrow-forward"></i></a></span> <span class = "mr-2"><a href = "./contentList">Content <i
                        class = "ion-ios-arrow-forward"></i></a></span> <span>Content Read <i
                        class = "ion-ios-arrow-forward"></i></span></p>
                <h1 class = "mb-0 bread">Content Read</h1>
            </div>
        </div>
    </div>
</section>

<section class = "ftco-section ftco-degree-bg">
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-8 ftco-animate">
                <p>
                    <img alt = "" class = "img-fluid" src = "../static/images/image_1.jpg">
                </p>
                <h2 class = "mb-3">
                    [[${contentDto.ctitle}]]
                </h2>
                <p>
                    [[${contentDto.ccontent}]]
                </p>

                <div class = "about-author d-flex p-4 bg-light">
                    <div class = "bio mr-5">
                        <img alt = "Image placeholder" class = "img-fluid mb-4" src = "../static/images/1.jpg">
                    </div>
                    <div class = "desc">
                        <h3>[[${contentDto.cwriter}]]</h3>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem
                            necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente
                            consectetur similique, inventore eos fugit cupiditate numquam!
                        </p>-->
                    </div>
                </div>

                <!--       <div class="pt-5 mt-5">
                           <h3 class="mb-5">6 Comments</h3>
                           <ul class="comment-list">
                               <li class="comment">
                                   <div class="vcard bio">
                                       <img src="../static/images/person_1.jpg" alt="Image placeholder">
                                   </div>
                                   <div class="comment-body">
                                       <h3>John Doe</h3>
                                       <div class="meta">April 7, 2020 at 10:05pm</div>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                           necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente
                                           iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                       <p><a href="#" class="reply">Reply</a></p>
                                   </div>
                               </li>

                               <li class="comment">
                                   <div class="vcard bio">
                                       <img src="../static/images/person_1.jpg" alt="Image placeholder">
                                   </div>
                                   <div class="comment-body">
                                       <h3>John Doe</h3>
                                       <div class="meta">April 7, 2020 at 10:05pm</div>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                           necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente
                                           iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                       <p><a href="#" class="reply">Reply</a></p>
                                   </div>

                                   <ul class="children">
                                       <li class="comment">
                                           <div class="vcard bio">
                                               <img src="../static/images/person_1.jpg" alt="Image placeholder">
                                           </div>
                                           <div class="comment-body">
                                               <h3>John Doe</h3>
                                               <div class="meta">April 7, 2020 at 10:05pm</div>
                                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem
                                                   laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe
                                                   enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,
                                                   nihil?</p>
                                               <p><a href="#" class="reply">Reply</a></p>
                                           </div>


                                           <ul class="children">
                                               <li class="comment">
                                                   <div class="vcard bio">
                                                       <img src="../static/images/person_1.jpg" alt="Image placeholder">
                                                   </div>
                                                   <div class="comment-body">
                                                       <h3>John Doe</h3>
                                                       <div class="meta">April 7, 2020 at 10:05pm</div>
                                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                                                           quidem laborum necessitatibus, ipsam impedit vitae autem, eum
                                                           officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum
                                                           impedit necessitatibus, nihil?</p>
                                                       <p><a href="#" class="reply">Reply</a></p>
                                                   </div>

                                                   <ul class="children">
                                                       <li class="comment">
                                                           <div class="vcard bio">
                                                               <img src="../static/images/person_1.jpg"
                                                                    alt="Image placeholder">
                                                           </div>
                                                           <div class="comment-body">
                                                               <h3>John Doe</h3>
                                                               <div class="meta">April 7, 2020 at 10:05pm</div>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                                   Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                                                                   autem, eum officia, fugiat saepe enim sapiente iste iure!
                                                                   Quam voluptas earum impedit necessitatibus, nihil?</p>
                                                               <p><a href="#" class="reply">Reply</a></p>
                                                           </div>
                                                       </li>
                                                   </ul>
                                               </li>
                                           </ul>
                                       </li>
                                   </ul>
                               </li>

                               <li class="comment">
                                   <div class="vcard bio">
                                       <img src="../static/images/person_1.jpg" alt="Image placeholder">
                                   </div>
                                   <div class="comment-body">
                                       <h3>John Doe</h3>
                                       <div class="meta">April 7, 2020 at 10:05pm</div>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                           necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente
                                           iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                       <p><a href="#" class="reply">Reply</a></p>
                                   </div>
                               </li>
                           </ul>
                           &lt;!&ndash; END comment-list &ndash;&gt;

                           <div class="comment-form-wrap pt-5">
                               <h3 class="mb-5">Leave a comment</h3>
                               <form action="#" class="p-5 bg-light">
                                   <div class="form-group">
                                       <label for="name">Name *</label>
                                       <input type="text" class="form-control" id="name">
                                   </div>
                                   <div class="form-group">
                                       <label for="email">Email *</label>
                                       <input type="email" class="form-control" id="email">
                                   </div>
                                   <div class="form-group">
                                       <label for="website">Website</label>
                                       <input type="url" class="form-control" id="website">
                                   </div>

                                   <div class="form-group">
                                       <label for="message">Message</label>
                                       <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                                   </div>
                                   <div class="form-group">
                                       <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                   </div>

                               </form>
                           </div>
                       </div>-->

            </div> <!-- .col-md-8 -->
            <div class = "col-lg-4 sidebar pl-lg-5 ftco-animate">
                <div class = "sidebar-box">
                    <form action = "#" class = "search-form">
                        <div class = "form-group">
                            <span class = "fa fa-search"></span>
                            <input class = "form-control" placeholder = "Type a keyword and hit enter" type = "text">
                        </div>
                    </form>
                </div>

                <!--<div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Services</h3>
                        <li><a href="#">Pet Sitting <span class="fa fa-chevron-right"></span></a></li>
                        <li><a href="#">Pet Daycare <span class="fa fa-chevron-right"></span></a></li>
                        <li><a href="#">Pet Grooming <span class="fa fa-chevron-right"></span></a></li>
                        <li><a href="#">Pet Spa <span class="fa fa-chevron-right"></span></a></li>
                    </div>
                </div>-->

                <div class = "sidebar-box ftco-animate">
                    <h3>Recent Content</h3>
                    <div class = "block-21 mb-4 d-flex">
                        <a class = "blog-img mr-4" style = "background-image: url(../../static/images/image_1.jpg);"></a>
                        <div class = "text">
                            <h3 class = "heading"><a href = "#">Even the all-powerful Pointing has no control about the
                                                                blind texts</a></h3>
                            <div class = "meta">
                                <div><a href = "#"><span class = "icon-calendar"></span>[[${#temporals.format(contentDto.regDate, 'yyyy-MM-dd')}]]</a></div>
                                <div><a href = "#"><span class = "icon-person"></span> [[${contentDto.cwriter}]]</a></div>
                                <div><a href = "#"><span class = "icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class = "block-21 mb-4 d-flex">
                        <a class = "blog-img mr-4" style = "background-image: url(../../static/images/image_1.jpg);"></a>
                        <div class = "text">
                            <h3 class = "heading"><a href = "#">Even the all-powerful Pointing has no control about the
                                                                blind texts</a></h3>
                            <div class = "meta">
                                <div><a href = "#"><span class = "icon-calendar"></span>[[${#temporals.format(contentDto.regDate, 'yyyy-MM-dd')}]]</a></div>
                                <div><a href = "#"><span class = "icon-person"></span> [[${contentDto.cwriter}]]</a></div>
                                <div><a href = "#"><span class = "icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class = "block-21 mb-4 d-flex">
                        <a class = "blog-img mr-4" style = "background-image: url(../../static/images/image_1.jpg);"></a>
                        <div class = "text">
                            <h3 class = "heading"><a href = "#">Even the all-powerful Pointing has no control about the
                                                                blind texts</a></h3>
                            <div class = "meta">
                                <div><a href = "#"><span class = "icon-calendar"></span>[[${#temporals.format(contentDto.regDate, 'yyyy-MM-dd')}]]</a></div>
                                <div><a href = "#"><span class = "icon-person"></span> [[${contentDto.cwriter}]]</a></div>
                                <div><a href = "#"><span class = "icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-4 d-flex ftco-animate" th:each="contentDto:${contentResponseDTO.dtoCList}">

                     </div>>-->
                    <a class = "btn btn-primary" href = "/content/contentList">목록으로</a>
                    <a class = "btn btn-primary" href = "#">수정하기</a>
                    <a class = "btn btn-primary" href = "/content/contentModify">삭제하기</a>
                </div>
            </div>

        </div>
    </div>
</section> <!-- .section -->

<script src = "../../static/js/jquery.min.js"></script>
<script src = "../../static/js/jquery-migrate-3.0.1.min.js"></script>
<script src = "../../static/js/popper.min.js"></script>
<script src = "../../static/js/bootstrap.min.js"></script>
<script src = "../../static/js/jquery.easing.1.3.js"></script>
<script src = "../../static/js/jquery.waypoints.min.js"></script>
<script src = "../../static/js/jquery.stellar.min.js"></script>
<script src = "../../static/js/jquery.animateNumber.min.js"></script>
<script src = "../../static/js/bootstrap-datepicker.js"></script>
<script src = "../../static/js/jquery.timepicker.min.js"></script>
<script src = "../../static/js/owl.carousel.min.js"></script>
<script src = "../../static/js/jquery.magnific-popup.min.js"></script>
<script src = "../../static/js/scrollax.min.js"></script>
<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src = "../../static/js/google-map.js"></script>
<script src = "../../static/js/main.js"></script>
</body>
</html>