<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<!--푸터 파일 명시-->
<div th:fragment = "footerFragment">
    <footer class = "footer">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-6 col-lg-3 mb-4 mb-md-0">
                    <h2 class = "footer-heading">포캣 서비스</h2>
                    <p>고양이와 관련된 정보를 나누고 유용한 서비스들을 이용해보세요.</p>
                    <ul class = "ftco-footer-social p-0">
                        <li class = "ftco-animate"><a data-placement = "top" data-toggle = "tooltip" href = "#" title = "Twitter"><span
                                class = "fa fa-twitter"></span></a></li>
                        <li class = "ftco-animate"><a data-placement = "top" data-toggle = "tooltip" href = "#"
                                                      title = "Facebook"><span class = "fa fa-facebook"></span></a></li>
                        <li class = "ftco-animate"><a data-placement = "top" data-toggle = "tooltip" href = "#"
                                                      title = "Instagram"><span class = "fa fa-instagram"></span></a></li>
                    </ul>
                </div>
                <div class = "col-md-6 col-lg-3 mb-4 mb-md-0">
                    <h2 class = "footer-heading">최신 글</h2>
                    <div class = "block-21 mb-4 d-flex">
                        <a class = "img mr-4 rounded" style = "background-image: url(images/image_1.jpg);"></a>
                        <div class = "text">
                            <h3 class = "heading"><a href = "#">Even the all-powerful Pointing has no control about</a></h3>
                            <div class = "meta">
                                <div><a href = "#"><span class = "icon-calendar"></span> April 7, 2020</a></div>
                                <div><a href = "#"><span class = "icon-person"></span> Admin</a></div>
                                <div><a href = "#"><span class = "icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class = "block-21 mb-4 d-flex">
                        <a class = "img mr-4 rounded" style = "background-image: url(images/image_2.jpg);"></a>
                        <div class = "text">
                            <h3 class = "heading"><a href = "#">Even the all-powerful Pointing has no control about</a></h3>
                            <div class = "meta">
                                <div><a href = "#"><span class = "icon-calendar"></span> April 7, 2020</a></div>
                                <div><a href = "#"><span class = "icon-person"></span> Admin</a></div>
                                <div><a href = "#"><span class = "icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
                    <h2 class = "footer-heading">퀵 메뉴</h2>
                    <ul class = "list-unstyled">
                        <li><a class = "py-2 d-block" href = "/index">홈</a></li>
                        <li><a class = "py-2 d-block" href = "/content/contentList">콘텐츠</a></li>
                        <li><a class = "py-2 d-block" href = "/shop/">쇼핑</a></li>
                        <li><a class = "py-2 d-block" href = "/board/list">커뮤니티</a></li>
                        <li><a class = "py-2 d-block" href = "/tools">툴즈</a></li>
                        <li><a class = "py-2 d-block" href = "/notice/list">공지사항</a></li>
                        <li><a class = "py-2 d-block" href = "#">찾아오시는 길</a></li>
                    </ul>
                </div>
                <div class = "col-md-6 col-lg-3 mb-4 mb-md-0">
                    <h2 class = "footer-heading">문의처</h2>
                    <div class = "block-23 mb-3">
                        <ul>
                            <li><span class = "icon fa fa-map"></span><span class = "text">경기 수원시 팔달구 덕영대로 899 3F 이젠컴퓨터아카데미 수원캠퍼스 304호</span>
                            </li>
                            <li><a href = "#"><span class = "icon fa fa-phone"></span><span
                                    class = "text">010-2864-9415</span></a></li>
                            <li><a href = "#"><span class = "icon fa fa-paper-plane"></span><span class = "text">gg.ww.ljh940115@gmail.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class = "row mt-5">
                <div class = "col-md-12 text-center">

                    <p class = "copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write (new Date ().getFullYear ());</script>
                        All rights reserved | This template is made with <i aria-hidden = "true" class = "fa fa-heart"></i>
                        by <a href = "https://colorlib.com" target = "_blank">Colorlib.com</a> | Creator of this website:
                        gg.ww.ljh940115@gmail.com
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
</div>

</html>