<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <script>
        document.addEventListener ("DOMContentLoaded", function () {//페이지의 DOM 구조가 완전히 로드되면 해당 함수를 실행
            // 전화번호 복사 버튼 클릭 이벤트 처리
            document.getElementById ("phoneLink").addEventListener ("click", function (event) {
                event.preventDefault (); // 링크의 기본 동작 방지
                copyToClipboard ("031-0000-0000"); // 전화번호 복사
            });

            // 이메일 주소 복사 버튼 클릭 이벤트 처리
            document.getElementById ("emailLink").addEventListener ("click", function (event) {
                event.preventDefault (); // 링크의 기본 동작 방지
                copyToClipboard ("gg.ww.ljh940115@gmail.com"); // 이메일 주소 복사
            });

            // 텍스트를 클립보드에 복사하는 함수
            function copyToClipboard (text) {//텍스트를 클립보드에 복사
                var dummyTextArea = document.createElement ("textarea");//dummyTextArea라는 새로운 <textarea> 요소를 생성
                document.body.appendChild (dummyTextArea);//body에 추가
                dummyTextArea.value = text;//dummyTextArea에 복사하려는 값, 텍스트
                dummyTextArea.select ();//텍스트를 클립보드에 복사
                document.execCommand ("copy");
                document.body.removeChild (dummyTextArea);//dummyTextArea를 페이지에서 제거
                alert (text + "가 클립보드에 복사되었습니다.");
            }
        });

        // 현재 페이지 URL
        var currentUrl = window.location.pathname;

        // 네비게이션 메뉴 항목의 URL 목록
        var menuUrls = [
            "/index",
            "/content/contentList",
            "/shop/",
            "/board/list",
            "/tools",
            "/notice/list",
            "/member/mypage",
            "/member/login"
        ];

        // 현재 페이지 URL과 메뉴 항목 URL을 비교하여 active 클래스 추가
        for (var i = 0; i < menuUrls.length; i++) {
            if (currentUrl === menuUrls[i]) {
                document.querySelectorAll(".nav-item")[i].classList.add("active");
            }
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        var shoppingButton = document.querySelector(".nav-item a[href='/shop/']");
        var dropdownMenu = document.createElement("div");
        dropdownMenu.className = "dropdown-menu";
        dropdownMenu.style.display = "none";
        dropdownMenu.innerHTML = `
        <a class="dropdown-item" href="/cart">상품 장바구니</a>
        <a class="dropdown-item" href="/orders">구매 이력</a>
        <a class="dropdown-item" href="/admin/item/new">상품 등록</a>
        <a class="dropdown-item" href="/admin/items">상품 현황</a>
    `;

        var timeoutId;

        shoppingButton.addEventListener("mouseenter", function () {
            clearTimeout(timeoutId);
            dropdownMenu.style.display = "block";
        });

        dropdownMenu.addEventListener("mouseenter", function () {
            clearTimeout(timeoutId);
        });

        shoppingButton.addEventListener("mouseleave", function () {
            timeoutId = setTimeout(function () {
                dropdownMenu.style.display = "none";
            }, 1000); // 1초 후 드롭다운 메뉴 숨김
        });

        dropdownMenu.addEventListener("mouseleave", function () {
            timeoutId = setTimeout(function () {
                dropdownMenu.style.display = "none";
            }, 1000); // 1초 후 드롭다운 메뉴 숨김
        });

        shoppingButton.parentNode.appendChild(dropdownMenu);
    });
    </script>
</head>
<!--헤더 파일 명시-->
<div th:fragment = "headerFragment">
    <body>
    <!--상단 링크-->
    <div class = "wrap">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-6 d-flex align-items-center">
                    <p class = "mb-0 phone pl-md-2">
                        <a class = "mr-2" href = "#" id = "phoneLink"><span class = "fa fa-phone mr-1"></span> 031 0000 0000</a>
                        <a href = "#" id = "emailLink"><span class = "fa fa-paper-plane mr-1"></span> gg.ww.ljh940115@gmail.com</a>
                    </p>
                </div>
                <div class = "col-md-6 d-flex justify-content-md-end">
                    <div class = "social-media">
                        <p class = "mb-0 d-flex">
                            <a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-facebook"><i class = "sr-only">Facebook</i></span></a>
                            <a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-twitter"><i class = "sr-only">Twitter</i></span></a>
                            <a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-instagram"><i class = "sr-only">Instagram</i></span></a>
                            <a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-dribbble"><i class = "sr-only">Dribbble</i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--네비게이션 메뉴-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class = "navbar-brand" href = "/index"><img src="/images/petFootLogo.png" class="siteLogo">FORCAT</a>
            <button aria-controls = "ftco-nav" aria-expanded = "false" aria-label = "Toggle navigation" class = "navbar-toggler" data-target = "#ftco-nav" data-toggle = "collapse" type = "button">
                <span class = "fa fa-bars"></span> Menu
            </button>
            <div class = "collapse navbar-collapse" id = "ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class = "nav-item"><a class = "nav-link" href = "/index">홈</a></li>
                    <li class = "nav-item"><a class = "nav-link" href = "/content/contentList">콘텐츠</a></li>
                    <li class = "nav-item dropdown-mom"><a class = "nav-link" href = "/shop/">쇼핑</a></li>
                    <li class = "nav-item"><a class = "nav-link" href = "/board/list">커뮤니티</a></li>
                    <li class = "nav-item"><a class = "nav-link" href = "/tools">툴즈</a></li>
                    <li class = "nav-item"><a class = "nav-link" href = "/notice/list">공지사항</a></li>
                    <li class = "nav-item">
                        <a class = "nav-link" href = "/member/mypage" th:if = "${#authorization.expression('isAuthenticated()')}">마이페이지</a><!--인증된 상태라면 로그아웃 링크를 표시한다.-->
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" href = "/member/logout" th:if = "${#authorization.expression('isAuthenticated()')}">로그아웃</a><!--인증된 상태라면 로그아웃 링크를 표시한다.-->
                        <a class = "nav-link" href = "/member/login" th:unless = "${#authorization.expression('isAuthenticated()')}">로그인</a><!--인증되지 않은 상태라면 로그인 링크를 표시한다.-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </body>
</div>
</html>