* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*버튼을 감싸는 영역*/
  #btnWrap {
      width: 500px;
      margin: 100px auto;
  }

/*버튼 디자인*/
  #popupBtn {
      width: 150px;
      height: 50px;
      padding: 10px 5px;
  }

/*모달팝업을 감싸고 있는 최상위 부모*/
  #modalWrap {
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/*모달 팝업창*/
  #modalBody {
      width: 500px;
      height: 300px;
      padding: 30px 30px;
      margin: 0 auto;
      border: 1px solid #777;
      background-color: #fff;
  }

/*닫기 버튼*/
  #closeBtn {
      float:right;
      font-weight: bold;
      color: #777;
      font-size:25px;
      cursor: pointer;
  }