<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layouts/layout1}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th = "http://www.thymeleaf.org">

<head>
    <title>고양이 커뮤니티 포캣</title>
    <script>
        //NV메뉴 해당 페이지 표시
        window.addEventListener ('DOMContentLoaded', (event) => {
            // 현재 페이지 URL 가져오기
            var currentURL = window.location.pathname;

            // 모든 네비게이션 항목을 가져와서 순환
            var navItems = document.querySelectorAll ('.nav-item');
            for (var i = 0; i < navItems.length; i++) {
                var navLink = navItems[i].querySelector ('.nav-link');
                var href = navLink.getAttribute ('href');

                // 현재 페이지와 href 속성이 일치하면 "active" 클래스 추가
                if (currentURL === href) {
                    navItems[i].classList.add ('active');
                }
            }
        });
    </script>
</head>

<body layout:fragment = "content">
<!-- END nav -->
<div class = "hero-wrap js-fullheight" data-stellar-background-ratio = "0.5" style = "background-image: url('images/bg_1.jpg');">
    <div class = "overlay"></div>
    <div class = "container">
        <div class = "row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent = "true">
            <div class = "col-md-11 ftco-animate text-center">
                <h1 class = "mb-4">고양이 최대 커뮤니티 포캣에 오신 것을 환영합니다.</h1>
                <p><a class = "btn btn-primary mr-md-4 py-3 px-4" href = "#">Learn more <span class = "ion-ios-arrow-forward"></span></a></p>
            </div>
        </div>
    </div>
</div>

<section class = "ftco-section bg-light ftco-no-pt ftco-intro">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                <div class = "d-block services active text-center">
                    <div class = "icon d-flex align-items-center justify-content-center">
                        <span class = "flaticon-blind"></span>
                    </div>
                    <div class = "media-body">
                        <h3 class = "heading">Dog Walking</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right.</p>
                        <a class = "btn-custom d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-chevron-right"></span><i class = "sr-only">Read more</i></a>
                    </div>
                </div>
            </div>
            <div class = "col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                <div class = "d-block services text-center">
                    <div class = "icon d-flex align-items-center justify-content-center">
                        <span class = "flaticon-dog-eating"></span>
                    </div>
                    <div class = "media-body">
                        <h3 class = "heading">Pet Daycare</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right.</p>
                        <a class = "btn-custom d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-chevron-right"></span><i class = "sr-only">Read more</i></a>
                    </div>
                </div>
            </div>
            <div class = "col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                <div class = "d-block services text-center">
                    <div class = "icon d-flex align-items-center justify-content-center">
                        <span class = "flaticon-grooming"></span>
                    </div>
                    <div class = "media-body">
                        <h3 class = "heading">Pet Grooming</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right.</p>
                        <a class = "btn-custom d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-chevron-right"></span><i class = "sr-only">Read more</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class = "ftco-section bg-light ftco-faqs">
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-6 order-md-last">
                <div class = "img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style = "background-image:url(images/about.jpg);">
                    <a class = "icon-video popup-vimeo d-flex justify-content-center align-items-center" href = "https://vimeo.com/45830194">
                        <span class = "fa fa-play"></span>
                    </a>
                </div>
                <div class = "d-flex mt-3">
                    <div class = "img img-2 mr-md-2" style = "background-image:url(images/about-2.jpg);"></div>
                    <div class = "img img-2 ml-md-2" style = "background-image:url(images/about-3.jpg);"></div>
                </div>
            </div>

            <div class = "col-lg-6">
                <div class = "heading-section mb-5 mt-5 mt-lg-0">
                    <h2 class = "mb-3">Frequently Asks Questions</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div aria-multiselectable = "true" class = "myaccordion w-100" id = "accordion">
                    <div class = "card">
                        <div class = "card-header p-0" id = "headingOne">
                            <h2 class = "mb-0">
                                <button aria-controls = "collapseOne" aria-expanded = "true" class = "d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent = "#accordion" data-toggle = "collapse" href = "#collapseOne">
                                    <p class = "mb-0">How to train your pet dog?</p>
                                    <i aria-hidden = "true" class = "fa"></i>
                                </button>
                            </h2>
                        </div>
                        <div aria-labelledby = "headingOne" class = "collapse show" id = "collapseOne" role = "tabpanel">
                            <div class = "card-body py-3 px-0">
                                <ol>
                                    <li>Far far away, behind the word mountains</li>
                                    <li>Consonantia, there live the blind texts</li>
                                    <li>When she reached the first hills of the Italic Mountains</li>
                                    <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                    <li>Separated they live in Bookmarksgrove right</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class = "card">
                        <div class = "card-header p-0" id = "headingTwo" role = "tab">
                            <h2 class = "mb-0">
                                <button aria-controls = "collapseTwo" aria-expanded = "false" class = "d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent = "#accordion" data-toggle = "collapse" href = "#collapseTwo">
                                    <p class = "mb-0">How to manage your pets?</p>
                                    <i aria-hidden = "true" class = "fa"></i>
                                </button>
                            </h2>
                        </div>
                        <div aria-labelledby = "headingTwo" class = "collapse" id = "collapseTwo" role = "tabpanel">
                            <div class = "card-body py-3 px-0">
                                <ol>
                                    <li>Far far away, behind the word mountains</li>
                                    <li>Consonantia, there live the blind texts</li>
                                    <li>When she reached the first hills of the Italic Mountains</li>
                                    <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                    <li>Separated they live in Bookmarksgrove right</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class = "card">
                        <div class = "card-header p-0" id = "headingThree" role = "tab">
                            <h2 class = "mb-0">
                                <button aria-controls = "collapseThree" aria-expanded = "false" class = "d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent = "#accordion" data-toggle = "collapse" href = "#collapseThree">
                                    <p class = "mb-0">What is the best grooming for your pets?</p>
                                    <i aria-hidden = "true" class = "fa"></i>
                                </button>
                            </h2>
                        </div>
                        <div aria-labelledby = "headingTwo" class = "collapse" id = "collapseThree" role = "tabpanel">
                            <div class = "card-body py-3 px-0">
                                <ol>
                                    <li>Far far away, behind the word mountains</li>
                                    <li>Consonantia, there live the blind texts</li>
                                    <li>When she reached the first hills of the Italic Mountains</li>
                                    <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                    <li>Separated they live in Bookmarksgrove right</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class = "card">
                        <div class = "card-header p-0" id = "headingFour" role = "tab">
                            <h2 class = "mb-0">
                                <button aria-controls = "collapseFour" aria-expanded = "false" class = "d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent = "#accordion" data-toggle = "collapse" href = "#collapseFour">
                                    <p class = "mb-0">What are those requirements for sitting pets?</p>
                                    <i aria-hidden = "true" class = "fa"></i>
                                </button>
                            </h2>
                        </div>
                        <div aria-labelledby = "headingTwo" class = "collapse" id = "collapseFour" role = "tabpanel">
                            <div class = "card-body py-3 px-0">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class = "ftco-section">
    <div class = "container">
        <div class = "row justify-content-center pb-5 mb-3">
            <div class = "col-md-7 heading-section text-center ftco-animate">
                <h2>Pets Gallery</h2>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-4 ftco-animate">
                <div class = "work mb-4 img d-flex align-items-end" style = "background-image: url(images/gallery-1.jpg);">
                    <a class = "icon image-popup d-flex justify-content-center align-items-center" href = "images/gallery-1.jpg">
                        <span class = "fa fa-expand"></span>
                    </a>
                    <div class = "desc w-100 px-4">
                        <div class = "text w-100 mb-3">
                            <span>Cat</span>
                            <h2><a href = "work-single.html">Persian Cat</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-4 ftco-animate">
                <div class = "work mb-4 img d-flex align-items-end" style = "background-image: url(images/gallery-2.jpg);">
                    <a class = "icon image-popup d-flex justify-content-center align-items-center" href = "images/gallery-2.jpg">
                        <span class = "fa fa-expand"></span>
                    </a>
                    <div class = "desc w-100 px-4">
                        <div class = "text w-100 mb-3">
                            <span>Dog</span>
                            <h2><a href = "work-single.html">Pomeranian</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-4 ftco-animate">
                <div class = "work mb-4 img d-flex align-items-end" style = "background-image: url(images/gallery-3.jpg);">
                    <a class = "icon image-popup d-flex justify-content-center align-items-center" href = "images/gallery-3.jpg">
                        <span class = "fa fa-expand"></span>
                    </a>
                    <div class = "desc w-100 px-4">
                        <div class = "text w-100 mb-3">
                            <span>Cat</span>
                            <h2><a href = "work-single.html">Sphynx Cat</a></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "col-md-4 ftco-animate">
                <div class = "work mb-4 img d-flex align-items-end" style = "background-image: url(images/gallery-4.jpg);">
                    <a class = "icon image-popup d-flex justify-content-center align-items-center" href = "images/gallery-4.jpg">
                        <span class = "fa fa-expand"></span>
                    </a>
                    <div class = "desc w-100 px-4">
                        <div class = "text w-100 mb-3">
                            <span>Cat</span>
                            <h2><a href = "work-single.html">British Shorthair</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-4 ftco-animate">
                <div class = "work mb-4 img d-flex align-items-end" style = "background-image: url(images/gallery-5.jpg);">
                    <a class = "icon image-popup d-flex justify-content-center align-items-center" href = "images/gallery-5.jpg">
                        <span class = "fa fa-expand"></span>
                    </a>
                    <div class = "desc w-100 px-4">
                        <div class = "text w-100 mb-3">
                            <span>Dog</span>
                            <h2><a href = "work-single.html">Beagle</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-4 ftco-animate">
                <div class = "work mb-4 img d-flex align-items-end" style = "background-image: url(images/gallery-6.jpg);">
                    <a class = "icon image-popup d-flex justify-content-center align-items-center" href = "images/gallery-6.jpg">
                        <span class = "fa fa-expand"></span>
                    </a>
                    <div class = "desc w-100 px-4">
                        <div class = "text w-100 mb-3">
                            <span>Dog</span>
                            <h2><a href = "work-single.html">Pug</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- loader -->
<div class = "show fullscreen" id = "ftco-loader">
    <svg class = "circular" height = "48px" width = "48px">
        <circle class = "path-bg" cx = "24" cy = "24" fill = "none" r = "22" stroke = "#eeeeee" stroke-width = "4"/>
        <circle class = "path" cx = "24" cy = "24" fill = "none" r = "22" stroke = "#F96D00" stroke-miterlimit = "10" stroke-width = "4"/>
    </svg>
</div>
<script src = "js/main.js"></script>
</body>
</html>