<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layouts/layout1}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>고양이 커뮤니티 포캣 - 툴즈</title>
</head>
<body layout:fragment = "content">
<section class = "hero-wrap hero-wrap-2" data-stellar-background-ratio = "0.5" style = "background-image: url('bg_2.jpg');">
    <div class = "overlay"></div>
    <div class = "container">
        <div class = "row no-gutters slider-text align-items-end">
            <div class = "col-md-9 ftco-animate pb-5">
                <p class = "breadcrumbs mb-2"><span class = "mr-2"><a href = "index.html">홈<i class = "ion-ios-arrow-forward"></i></a></span> <span>Veterinarian <i class = "ion-ios-arrow-forward"></i></span></p>
                <h1 class = "mb-0 bread">툴즈</h1>
            </div>
        </div>
    </div>
</section>

<section class = "ftco-section bg-light">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6 col-lg-3 ftco-animate">
                <div class = "staff">
                    <div class = "img-wrap d-flex align-items-stretch">
                        <div class = "img align-self-stretch" style = "background-image: url(staff-1.jpg);"></div>
                    </div>
                    <div class = "text pt-3 px-3 pb-4 text-center">
                        <h3>사료 급여량 계산기</h3>
                        <span class = "position mb-2">고양이의 일일 사료 급여량 계산</span>
                        <div class = "faded">
                            <p>고양이의 나이, 체중, 활동 수준 및 사료 종류를 입력하고, 고양이의 일일 사료 급여량을 계산하세요.</p>
                            <ul class = "ftco-social text-center">
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-twitter"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-facebook"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-google"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-lg-3 ftco-animate">
                <div class = "staff">
                    <div class = "img-wrap d-flex align-items-stretch">
                        <div class = "img align-self-stretch" style = "background-image: url(staff-2.jpg);"></div>
                    </div>
                    <div class = "text pt-3 px-3 pb-4 text-center">
                        <h3>고양이 적정 체중 계산</h3>
                        <span class = "position mb-2">건강한 고양이의 적정 체중 확인</span>
                        <div class = "faded">
                            <p>고양이의 나이, 크기, 품종 및 활동 수준을 고려하여 적정 체중을 확인하고 관리하세요.</p>
                            <ul class = "ftco-social text-center">
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-twitter"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-facebook"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-google"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-lg-3 ftco-animate">
                <div class = "staff">
                    <div class = "img-wrap d-flex align-items-stretch">
                        <div class = "img align-self-stretch" style = "background-image: url(staff-3.jpg);"></div>
                    </div>
                    <div class = "text pt-3 px-3 pb-4 text-center">
                        <h3>고양이, 사람 나이 계산기</h3>
                        <span class = "position mb-2">고양이와 사람 나이 확인</span>
                        <div class = "faded">
                            <p>고양이의 나이를 입력하고 고양이의 사람일 때 나이를 확인해보세요.</p>
                            <ul class = "ftco-social text-center">
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-twitter"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-facebook"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-google"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-lg-3 ftco-animate">
                <div class = "staff">
                    <div class = "img-wrap d-flex align-items-stretch">
                        <div class = "img align-self-stretch" style = "background-image: url(staff-4.jpg);"></div>
                    </div>
                    <div class = "text pt-3 px-3 pb-4 text-center">
                        <h3>서비스 준비중...</h3>
                        <span class = "position mb-2">-</span>
                        <div class = "faded">
                            <p>-</p>
                            <ul class = "ftco-social text-center">
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-twitter"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-facebook"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-google"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "col-md-6 col-lg-3 ftco-animate">
                <div class = "staff">
                    <div class = "img-wrap d-flex align-items-stretch">
                        <div class = "img align-self-stretch" style = "background-image: url(staff-5.jpg);"></div>
                    </div>
                    <div class = "text pt-3 px-3 pb-4 text-center">
                        <h3>서비스 준비중...</h3>
                        <span class = "position mb-2">-</span>
                        <div class = "faded">
                            <p>-</p>
                            <ul class = "ftco-social text-center">
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-twitter"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-facebook"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-google"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-lg-3 ftco-animate">
                <div class = "staff">
                    <div class = "img-wrap d-flex align-items-stretch">
                        <div class = "img align-self-stretch" style = "background-image: url(staff-6.jpg);"></div>
                    </div>
                    <div class = "text pt-3 px-3 pb-4 text-center">
                        <h3>서비스 준비중...</h3>
                        <span class = "position mb-2">-</span>
                        <div class = "faded">
                            <p>-</p>
                            <ul class = "ftco-social text-center">
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-twitter"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-facebook"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-google"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-lg-3 ftco-animate">
                <div class = "staff">
                    <div class = "img-wrap d-flex align-items-stretch">
                        <div class = "img align-self-stretch" style = "background-image: url(staff-7.jpg);"></div>
                    </div>
                    <div class = "text pt-3 px-3 pb-4 text-center">
                        <h3>서비스 준비중...</h3>
                        <span class = "position mb-2">-</span>
                        <div class = "faded">
                            <p>-</p>
                            <ul class = "ftco-social text-center">
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-twitter"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-facebook"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-google"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-lg-3 ftco-animate">
                <div class = "staff">
                    <div class = "img-wrap d-flex align-items-stretch">
                        <div class = "img align-self-stretch" style = "background-image: url(staff-8.jpg);"></div>
                    </div>
                    <div class = "text pt-3 px-3 pb-4 text-center">
                        <h3>서비스 준비중...</h3>
                        <span class = "position mb-2">-</span>
                        <div class = "faded">
                            <p>-</p>
                            <ul class = "ftco-social text-center">
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-twitter"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-facebook"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-google"></span></a></li>
                                <li class = "ftco-animate"><a class = "d-flex align-items-center justify-content-center" href = "#"><span class = "fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    //NV메뉴 해당 페이지 표시
    window.addEventListener ('DOMContentLoaded', (event) => {
        // 현재 페이지 URL 가져오기
        var currentURL = window.location.pathname;

        // 모든 네비게이션 항목을 가져와서 순환
        var navItems = document.querySelectorAll ('.nav-item');
        for (var i = 0; i < navItems.length; i++) {
            var navLink = navItems[i].querySelector ('.nav-link');
            var href = navLink.getAttribute ('href');

            // 현재 페이지와 href 속성이 일치하면 "active" 클래스 추가
            if (currentURL === href) {
                navItems[i].classList.add ('active');
            }
        }
    });
</script>
</body>
</html>